$body-bg-color-e3e5fa: #e3e5fa;

$bg-color-white: white;

$navigation-color-5f6efa: #5f6efa;

$form-bg-color: rgba(0, 0, 0, 0.4);

$star-bg-color-orange: rgb(238, 157, 6);

$shadow-box-color:rgb(201, 195, 195);
