$height-per-100:100%;

$height-px-45:45px;
$height-px-40:40px;
$height-px-20:20px;
$height-px-30:30px;
$height-px-500:500px;
$height-px-200:200px;
$height-px-100:100px;
$height-px-180:180px;
$height-px-160:160px;
$height-px-600:600px;