$wid-per-100: 100%;

$wid-px-250: 250px;
$wid-px-600: 600px;
$wid-px-30: 30px;
$wid-px-110: 110px;
$wid-px-70: 70px;
$wid-px-500: 500px;
$wid-px-200: 200px;
$wid-px-20: 20px;
$wid-px-300: 300px;
$wid-px-40: 40px;
$wid-px-940: 940px;
$wid-px-160: 160px;
$wid-px-450: 450px;
$wid-px-105: 105px;
$wid-px-160: 160px;