@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$body-bg-color;
    width: variables.$wid-per-100;
    height: variables.$height-per-100;
}

.header {
    background-color: variables.$color-white;
    width: variables.$wid-per-100;
    height: variables.$height-px-45;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    .header__left {
        width: variables.$wid-px-250;
        display: flex;
        justify-content: center;
        align-items: center;


        .header__left__image {
            width: variables.$wid-px-30;
            height: variables.$height-px-30;
        }

        .header__left__topic {
            font-family: sans-serif;
            font-size: variables.$font-px-25;

        }
    }

    .header__right {
        width: variables.$wid-px-600;
        display: flex;
        align-items: center;

        .header__right__navigation {
            width: variables.$wid-px-110;
            border: 3px solid variables.$color-white;
            height: variables.$height-per-100;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .header__right__navigation:hover {
            border-bottom-color: variables.$navigation-color-5f6efa;
        }

        .header__right__button {
            border-radius: 25px;
            background-color: variables.$navigation-color-5f6efa;
            padding: 8px;
            width: variables.$wid-px-70;
            font-size: variables.$font-px-10;
            color: variables.$color-white;
            border: none;
            cursor: pointer;
        }
    }
}

.login {
    background-color: variables.$form-bg-color;
    width: variables.$wid-per-100;
    height: variables.$height-per-100;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;

    .login__form {
        width: variables.$wid-px-500;
        height: variables.$height-px-500;
        background-color: variables.$color-white;
        position: relative;

        .login__form__image {
            width: variables.$wid-px-200;
            height: variables.$height-px-200;
            margin-left: 150px;
        }

        .login__form__cross {
            width: variables.$wid-px-20;
            height: variables.$height-px-20;
            float: right;
            cursor: pointer;
        }

        .login__form__authentication {
            margin: 10px 0 40px 100px;

            .login__form__authentication__input {
                display: block;
                width: variables.$wid-px-300;
                height: variables.$height-px-30;
                box-shadow: 5px 5px 5px variables.$input-shadow-color;
                outline: none;
                border: none;

            }

            .login__form__authentication__input:hover {
                border-bottom: 2px solid black;
            }


        }


    }

}


.login__button {
    border-radius: 25px;
    width: variables.$wid-px-200;
    padding: 8px;
    margin-left: 150px;
    border: none;
    color: variables.$color-white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(71, 67, 139) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    cursor: pointer;
}

.login__success {
    width: variables.$wid-px-500;
    height: variables.$height-px-100;
    background-color: variables.$color-white;
    position: relative;
    display: flex;

    .login__success__image {
        width: variables.$wid-px-40;
        height: variables.$height-px-30;
    }

    .login__success__message {
        color: rgb(4, 169, 4);
        font-size: variables.$font-px-17;
        width: variables.$wid-px-500;
        font-family: sans-serif;
    }

    .login__success__image,
    .login__success__message {
        margin: 40px 0 0 14px;
    }

    .login__success__cross {
        width: variables.$wid-px-20;
        height: variables.$height-px-20;
        float: top;
        cursor: pointer;
        margin-left: 5px;
    }


}

.maincontainer {
    text-align: center;
}

.maincontainer__header__title {
    padding: 30px 200px 0 200px;
    font-family: "Roboto", sans-serif;
}

.maincontainer__middle {
    padding: 30px 200px 0 200px;
    margin-top: 30px;
}

.maincontainer__middle__form {
    display: flex;

    .form__searchimg {
        width: variables.$wid-px-40;
        height: variables.$height-px-40;
        box-shadow: 5px 5px 5px variables.$shadow-box-color;
    }

    .form__search {
        width: variables.$wid-px-940;
        height: variables.$height-px-40;
        border: none;
        outline: none;
        box-shadow: 5px 5px 5px variables.$shadow-box-color;
        font-size: variables.$font-px-15;
    }

    .form__button {
        margin-left: 10px;
        padding: 8px;
        width: variables.$wid-px-105;
        height: variables.$height-px-40;
        background-color: variables.$color-white;
        box-shadow: 5px 5px 5px variables.$shadow-box-color;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        color: grey;
    }

}


.maincontainer__bottom {
    width: variables.$wid-per-100;
    height: variables.$height-per-100;
    padding: 30px 200px 0 200px;
    margin-top: 40px;
}

.search__error {
    color: variables.$navigation-color-5f6efa;
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    .grid__element {
        background-color: variables.$color-white;
        padding: 10px;
        grid-row: span 8;
        border-radius: 5px;
        text-align: center;

        .grid__element__img {
            width: variables.$wid-px-160;
            height: variables.$height-px-160;
            border-radius: 50%;
            margin-top: 12px;
            object-fit: cover;
            overflow: hidden;
        }

        .grid__element__name {
            font-weight: 600;
            font-size: variables.$font-px-16;
        }

        .grid__element__country {
            font-weight: 300;
            color: rgb(124, 124, 124);
            font-size: variables.$font-px-14;
            margin-bottom: 10px;
        }

        .grid__element__name,
        .grid__element__country {
            font-family: "Roboto", sans-serif;
            margin-top: 10px;
            letter-spacing: 1px;
        }

        .grid__element__rating {
            text-align: center;
            color: variables.$star-bg-color-orange;
            font-size: variables.$font-px-17;
            letter-spacing: 4px;
        }

        .grid__element__button {
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;

            .grid__button {
                width: 70px;
                height: 30px;
                text-align: center;
                background-color: variables.$navigation-color-5f6efa;
                border-radius: 10px;
                border: none;
                color: variables.$color-white;
                box-shadow: 5px 5px 5px variables.$input-shadow-color;

            }

            .grid__button:hover {
                cursor: pointer;
            }
        }

    }

    .grid__element:hover {
        cursor: pointer;
        box-shadow: 5px 5px 40px #858bbe;
    }

}

.addNewForm {
    width: variables.$wid-per-100;
    height: variables.$height-per-100;
    background-color: variables.$form-bg-color;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

    .addNewForm__popup {
        width: variables.$wid-px-600;
        height: variables.$height-px-600;
        background-color: variables.$color-white;
        position: relative;

        .addNewForm__popup__image {
            width: variables.$wid-px-200;
            height: variables.$height-px-200;
        }

        .addNewForm__popup__entries {
            display: block;
            margin: 10px 0 30px 80px;
            width: variables.$wid-px-450;
            height: variables.$height-px-40;
            box-shadow: 5px 5px 5px variables.$input-shadow-color;
            outline: none;
            border: none;
            font-size: variables.$font-px-15;
        }

        .addNewForm__popup__entries:hover {
            border-bottom: 2px solid black;
        }

        .addNewForm__popup__button {
            border-radius: 25px;
            width: variables.$wid-px-250;
            height: variables.$height-px-40;
            padding: 8px;
            border: none;
            color: variables.$color-white;
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgb(71, 67, 139) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            cursor: pointer;
            margin-top: 30px;


        }

        .addNewForm__popup__wrong {
            width: variables.$wid-px-20;
            height: variables.$height-px-20;
            float: right;
            cursor: pointer;
        }
    }

}