* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e5fa;
  width: 100%;
  height: 100%;
}

.header {
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.header .header__left {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__left .header__left__image {
  width: 30px;
  height: 30px;
}
.header .header__left .header__left__topic {
  font-family: sans-serif;
  font-size: 25px;
}
.header .header__right {
  width: 600px;
  display: flex;
  align-items: center;
}
.header .header__right .header__right__navigation {
  width: 110px;
  border: 3px solid white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__right .header__right__navigation:hover {
  border-bottom-color: #5f6efa;
}
.header .header__right .header__right__button {
  border-radius: 25px;
  background-color: #5f6efa;
  padding: 8px;
  width: 70px;
  font-size: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.login {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.login .login__form {
  width: 500px;
  height: 500px;
  background-color: white;
  position: relative;
}
.login .login__form .login__form__image {
  width: 200px;
  height: 200px;
  margin-left: 150px;
}
.login .login__form .login__form__cross {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}
.login .login__form .login__form__authentication {
  margin: 10px 0 40px 100px;
}
.login .login__form .login__form__authentication .login__form__authentication__input {
  display: block;
  width: 300px;
  height: 30px;
  box-shadow: 5px 5px 5px rgb(233, 230, 230);
  outline: none;
  border: none;
}
.login .login__form .login__form__authentication .login__form__authentication__input:hover {
  border-bottom: 2px solid black;
}

.login__button {
  border-radius: 25px;
  width: 200px;
  padding: 8px;
  margin-left: 150px;
  border: none;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(71, 67, 139) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  cursor: pointer;
}

.login__success {
  width: 500px;
  height: 100px;
  background-color: white;
  position: relative;
  display: flex;
}
.login__success .login__success__image {
  width: 40px;
  height: 30px;
}
.login__success .login__success__message {
  color: rgb(4, 169, 4);
  font-size: 17px;
  width: 500px;
  font-family: sans-serif;
}
.login__success .login__success__image,
.login__success .login__success__message {
  margin: 40px 0 0 14px;
}
.login__success .login__success__cross {
  width: 20px;
  height: 20px;
  float: top;
  cursor: pointer;
  margin-left: 5px;
}

.maincontainer {
  text-align: center;
}

.maincontainer__header__title {
  padding: 30px 200px 0 200px;
  font-family: "Roboto", sans-serif;
}

.maincontainer__middle {
  padding: 30px 200px 0 200px;
  margin-top: 30px;
}

.maincontainer__middle__form {
  display: flex;
}
.maincontainer__middle__form .form__searchimg {
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 5px rgb(201, 195, 195);
}
.maincontainer__middle__form .form__search {
  width: 940px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px rgb(201, 195, 195);
  font-size: 15px;
}
.maincontainer__middle__form .form__button {
  margin-left: 10px;
  padding: 8px;
  width: 105px;
  height: 40px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(201, 195, 195);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: grey;
}

.maincontainer__bottom {
  width: 100%;
  height: 100%;
  padding: 30px 200px 0 200px;
  margin-top: 40px;
}

.search__error {
  color: #5f6efa;
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.grid .grid__element {
  background-color: white;
  padding: 10px;
  grid-row: span 8;
  border-radius: 5px;
  text-align: center;
}
.grid .grid__element .grid__element__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.grid .grid__element .grid__element__name {
  font-weight: 600;
  font-size: 16px;
}
.grid .grid__element .grid__element__country {
  font-weight: 300;
  color: rgb(124, 124, 124);
  font-size: 14px;
  margin-bottom: 10px;
}
.grid .grid__element .grid__element__name,
.grid .grid__element .grid__element__country {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  letter-spacing: 1px;
}
.grid .grid__element .grid__element__rating {
  text-align: center;
  color: rgb(238, 157, 6);
  font-size: 17px;
  letter-spacing: 4px;
}
.grid .grid__element .grid__element__button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.grid .grid__element .grid__element__button .grid__button {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: #5f6efa;
  border-radius: 10px;
  border: none;
  color: white;
  box-shadow: 5px 5px 5px rgb(233, 230, 230);
}
.grid .grid__element .grid__element__button .grid__button:hover {
  cursor: pointer;
}
.grid .grid__element:hover {
  cursor: pointer;
  box-shadow: 5px 5px 40px #858bbe;
}

.addNewForm {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.addNewForm .addNewForm__popup {
  width: 600px;
  height: 600px;
  background-color: white;
  position: relative;
}
.addNewForm .addNewForm__popup .addNewForm__popup__image {
  width: 200px;
  height: 200px;
}
.addNewForm .addNewForm__popup .addNewForm__popup__entries {
  display: block;
  margin: 10px 0 30px 80px;
  width: 450px;
  height: 40px;
  box-shadow: 5px 5px 5px rgb(233, 230, 230);
  outline: none;
  border: none;
  font-size: 15px;
}
.addNewForm .addNewForm__popup .addNewForm__popup__entries:hover {
  border-bottom: 2px solid black;
}
.addNewForm .addNewForm__popup .addNewForm__popup__button {
  border-radius: 25px;
  width: 250px;
  height: 40px;
  padding: 8px;
  border: none;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(71, 67, 139) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  cursor: pointer;
  margin-top: 30px;
}
.addNewForm .addNewForm__popup .addNewForm__popup__wrong {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}/*# sourceMappingURL=user__profile.css.map */